/* STYLING */

* {
    margin: 0;
    padding: 0px;
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #000;
}

.container {
    display: grid;
    grid-template-rows: 8vh 82vh 10vh;
    padding: 5px 30px;
    height: 100%;
    width: 100%;
}

nav, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: inline;
}

ul li {
    display: inline;
    padding: 5px;
}

ul li a {
    text-decoration: none;
}

.sign-in {
    background-color: #4387fd;
    color: white;
    padding: 10px;
    font-weight: bold;
}

.google-apps {
    position: relative;
    top: 9px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > * {
    margin: 10px;
}

main input[type="search"] {
    width: 554px;
    font-size: 16px;
    border-radius: 100px;
    line-height: 32px;
    padding: 2px 12px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

main div button {
    padding: 10px;
    background-color: #f2f2f2;
}

button {
    border-radius: 3px;
}